/**************************\
  Styling for report page
\**************************/

/* Report header section */
.report-header {
    color: var(--text-color-second);
    padding: 40px 5px 100px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 150%;
}

#report-author-name {
    padding: 20px 0;
    font-size: 150%;
}

/* Learned from https://css-generators.com/custom-borders/ */
.zigzag-curvy-bottom-border {
    --mask:
        radial-gradient(38px at 75% 100%, #0000 98%, #000) 50% calc(100% - 38px)/152px 100% repeat-x,
        radial-gradient(38px at 25% 50%, #000 99%, #0000 101%) bottom/152px 76px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

#github-icon a {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#github-icon * {
    padding: 5px;
}

#github-icon p:hover {
    color: var(--green-shade);
    text-decoration: none;
}

/**************************\
  Things learned section
\**************************/

.things-learned-section {
    padding: 100px 200px;
    background-color: var(--text-color-second);
    display: flex;
    flex-direction: row;
}

#things-i-learned {
    font-size: 250%;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#things-i-learned p {
    padding: 10;
    margin: 0;
}

#things-i-learned-1 {
    font-size: 140%;
}

/**************************\
  First section of report
\**************************/

.first-section {
    color: var(--text-color-second);
    background-color: var(--text-color-main);
    padding: 100px 100px 150px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-lists {
    font-size: 240%;
    text-align: left;
}

/****************************\
  Styles for Second section
\****************************/

.second-section {
    color: var(--text-color-main);
    padding: 10px 100px 100px 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explanation {
    display: flex;
    flex-direction: row;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

/* Set image size */
#work-list-img img {
    max-width: calc(80%);
}

/****************************\
  Styles for Third section
\****************************/

.third-section {
    border-top: 1px solid var(--text-color-second);
    padding: 100px;
    color: var( --text-color-second);
}

/* CSS for the text div inside third section */
#third-section-text {
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    animation: colorTransition 2s infinite alternate;
}

/* CSS to create color transition inside text div */
/* Learned from https://www.geeksforgeeks.org/how-to-create-a-color-transition-effect-in-css/ */
@keyframes colorTransition {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
    }

    100% {
        background-color: var(--text-color-main);
    }
}

/****************************\
  Styles for Fourth section
\****************************/

#fourth-section-img img {
    width: 300px;
}

.fourth-section {
    padding: 100px;
    background-color: var(--text-color-main);
    color: var(--text-color-second);
    display: flex;
    flex-direction: row; 
}

/* Green deer is invisible when not hovering */
#fourth-section-img .deer-hover-img {
    display: none;
}

/* When hovering, pink deer goes invisible */
#fourth-section-img:hover .deer-non-hover-img {
    display: none;
}

/* When hovering, green deer becomes visible*/
#fourth-section-img:hover .deer-hover-img {
    display: inline-block;
}


#fourth-section-text {
    padding-left: 100px;
}


/****************************\
  Styles for Fifth section - animated section
\****************************/

.moving-text-section {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
}

/* CSS copied for animated text */
/* CSS from codepen: https://codepen.io/JacobStone420/pen/Jjjpaa */
.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: var(--pink-shade);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }

/****************************\
  Styles for Sixth section
\****************************/

  .sixth-section {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--text-color-main);
    color: var(--text-color-second);
  }

  .steps * {
    font-size: 150%;
    padding-left: 50px;
  }

/****************************\
  Styles for responsive CSS
\****************************/  

/* CSS for responsiveness */
/* When the screen width becomes smaller than 1000px, change flex direction */
@media screen and (max-width: 1000px) {

    .things-learned-section {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #things-i-learned {
        text-align: center;
        margin: 0;
    }

    .first-section {
        padding: 60px 25px 100px 25px;
    }

    .second-section {
        padding: 20px;
    }

    .explanation {
        flex-direction: column;
    }

    .work-lists {
        font-size: 160%;
    }

    #work-list-img {
        text-align: center;
    }

    .fourth-section {
        flex-direction: column;
        padding: 0;
        /* padding: 5px; */
    }

    #fourth-section-img {
        display: flex;
        justify-content: center;
    }

    #fourth-section-text {
        padding: 5px;
    }

    .Iam {
        padding: 25px 0;
    }

    .third-section {
        padding: 10px;
    }
}

